# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# --- BLOQUEIO DE CUSTO (EXTREMAMENTE IMPORTANTE) ---

package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb
.next/
dist/

.swc/
coverage/

# Arquivos de sistema e logs
.DS_Store
*.log
.env
.env.local
# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.env
# testing


# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/styled-system
# Panda CSS (Panda + Chakra)
styled-system/